<!--
  Title: about.component.html
  Author: Walter McCue
  Date: 02/05/23
  Description: html for the in-n-out-books project
-->

<div fxLayout>

  <div fxFlex>

    <div fxLayout="column">

      <!--Image-->

      <div>
        <img src="./assets/john-steakley.jpg" width="60%">
      </div>

    </div>

  </div>

  <!--Bio-->

  <div fxFlex>
    <h1>Who was John Steakley?</h1>
    <p>
      John Steakley (July 26, 1951 – November 27, 2010) was born on July 26, 1951 and was an American science fiction author.
      He published two major novels, Armor (1984) and Vampire$ (1990).
      The latter was the basis for John Carpenter's Vampires movie.
      He published four short science fiction and fantasy stories.
      <em class="apa-reference"><a href="https://www.goodreads.com/author/show/59060.John_Steakley" target="blank">Source</a></em>
    </p>
  </div>

</div>
