<!--
  Title: contact.component.html
  Author: Walter McCue
  Date: 02/05/23
  Description: html for the in-n-out-books project
-->

<div fxLayout="row wrap">

  <div fxFlex>

    <!--Address-->

    <mat-card-title class="card-title-icon">
      <p><i class="fa-solid fa-location-dot"></i></p>
    </mat-card-title>

    <br />

    <mat-card-content class="align-center">
      <p>1234 My Street</p>
      <p>My City, My State</p>
    </mat-card-content>

  </div>

  <div fxFlex>

    <!--Phone-->

    <mat-card-title class="card-title-icon">
      <p><i class="fa-solid fa-phone"></i></p>
    </mat-card-title>

    <br />

    <mat-card-content class="align-center">
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-888-555-5555</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>

  </div>

</div>

<br /><br /><br /><br />

<div fxLayout="column">
    <p style="text-align: center">
        Visit us online or at one of our many great locations throughout the My State metro area.
    </p>
</div>
