<!--
  Title: about.component.html
  Author: Walter McCue
  Date: 01/13/23
  Description: html for the composer-app project
-->


<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="align-center">Nobuo Uematsu</h4>
    </div>
  </div>

<hr>

  <div class="row">

    <!--Image-->

    <div class="col-sm-5">
      <img src="./assets/nobuo-uematsu.png" />
    </div>

    <!--Bio-->

    <div class="col-sm-7 bg-light p-3">
      <p>
        Nobuo Uematsu is often referred to as the Beethoven of video game music.
        His success started in 1987 where he composed his first major hit for the first Final Fantasy video game.
        He continued to produce scores for the first nine games of that franchise exclusively but has continued to contribute to later titles in partnership with other composers.
        His concerts, titled “A New World”, sell out across the world.
        While he still has concerts set for 2023, due to medical conditions, he may not continue composing new music.
        <em class="apa-reference"><a href="https://www.ffnewworld.com/bios/nobuo-uematsu" target="blank">Source</a></em>
      </p>
    </div>
  </div>

</div>
<br />
