<!--
  Title: contact.component.html
  Author: Walter McCue
  Date: 01/13/23
  Description: html for the composer-app project
-->

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h4 class="align-center">Welcome to the Contact Us page</h4>
    </div>
  </div>
  <hr>

  <div class="row">

    <!--Address-->

    <div class="col-sm-6 bg-light align-center p-3">
      <h4><i class="fa-solid fa-location-dot"></i></h4>
      <p>
        Shea's 710 Theatre<br>
        710 Main Street<br>
        Buffalo, NY, 14202<br>
        United States<br>
      </p>
    </div>

    <!--Phone and Email-->

    <div class="col-sm-6 bg-light align-center p-3">
      <h4><i class="fa-solid fa-phone"></i></h4>
      <p>
        1-716-847-1410<br>
      </p>
      <h4><i class="fa-solid fa-envelope"></i></h4>
      <p>
        info@ffnewworld.com<br>
      </p>
    </div>

  </div>

</div>
<br />
