/**
Title: app.component.scss
Author: Walter McCue
Date: 02/05/23
Description: component styling for the in-n-out-books project
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
