<!--
  Title: my-details.component.html
  Author: Walter McCue
  Date: 01/13/23
  Description: html for the my-details component
-->

<ul class="list-group">

  <li class="list-group-item">
    <strong>Name:</strong> {{ myProfile.fullName }}
  </li>

  <li class="list-group-item">
    <strong>Favorite Food:</strong> {{ myProfile.favoriteFood }}
  </li>

  <li class="list-group-item">
    <strong>Favorite Color:</strong> {{ myProfile.favoriteColor }}
  </li>

  <li class="list-group-item">
    <strong>Keywords:</strong>
    <span *ngFor="let word of myProfile.keywords">
      {{ word }}
    </span>
  </li>

</ul>
