/**
Title: about.component.scss
Author: Walter McCue
Date: 02/05/23
Description: component styling for the in-n-out-books project
*/

.apa-reference a {
  text-decoration: none;
  color: #2196F3;
}

.apa-reference a:hover {
  text-decoration: underline;
  cursor: pointer;
}
