<!--
  Title: app.component.html
  Author: Walter McCue
  Date: 01/13/23
  Description: html for the my-app project
-->

<!-- Navigation -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">

    <li class="nav-item active">

      <a class="nav-link" routerLink="/composer-list">Composer List</a>

    </li>

    <li class="nav-item">

      <a class="nav-link" routerLink="/about">About</a>

    </li>

    <li class="nav-item">

      <a class="nav-link" routerLink="/contact">Contact Us</a>

    </li>

  </ul>

</nav>

<!-- Main Content -->

<div class="container">

  <br /><br />
  <h2>{{ title }}</h2>
  <br />

  <router-outlet></router-outlet>

</div>


